/* Banner Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 10px;
  border-bottom: 1px solid #888888;
  position: sticky;
  top: 0;
}

/* Anchored Elements of Banner style (Logo and app name) */
.banner a {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

/* Centered Elements of Banner (Search box and create post button) */
.banner .center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 100%;
}

/* App Logo style */
.app-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;  /* Space between the logo and the text */
}

/* App Name style */
.app-name {
  font-size: 30px;
  font-weight: bold;
  color: #ff5500;
  text-decoration: none;
}

.app-name:hover {
  text-decoration: none; /* No change on hover */
}

/* Search Box style */
.search-box {
  width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  margin-right: 10px;
}

.search-box:focus {
  outline: none;
  border-color: #ff5500;
}

/* Create Post button style */
.create-post-button {
  padding: 10px 20px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.create-post-button-disabled {
  padding: 10px 20px;
  background-color: grey;
  opacity: 0.2;
  color: white;
  border: none;
  cursor: auto;
  border-radius: 20px;
  font-size: 14px;
}

.create-post-button:hover {
  background-color: #ff5500;
}

.create-post-button-CP {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  background-color: #ff5500;
}

.profile-button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-width: 1px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.profile-button-disabled {
  padding: 10px 20px;
  background-color: white;
  opacity: 0.9;
  color: black;
  cursor: auto;
  border-width: 1px;
  border-radius: 20px;
  font-size: 14px;
}

.profile-button:hover {
  background-color: grey;
}

.logout-button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-width: 1px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button:hover {
  background-color: grey;
}