/* Comments Section */
.comment-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-meta {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

.comment-content {
    font-size: 14px;
    margin-bottom: 10px;
}

.comment-replies {
    margin-left: 20px;
    border-left: 2px solid #ccc;
    padding-left: 10px;
}

.reply-button {
    margin-top: 5px;
    background-color: lightgrey;
    display: inline-block;
    padding: 2px 6px;
    font-size: 12;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reply-button:hover {
    background-color: #a3a3a3;
}

.vote-button {
    padding: 5px 10px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 8px;
}

.vote-button:hover {
  background-color: #ff5500;
}

.vote-button-selected {
    padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 8px;
  background-color: #ff5500;
}